doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //- meta(http-equiv="Access-Control-Allow-Origin" content="*")
        block title
        include ../includes/style
    body
        block content